# Gradle-related
.gradle
build/
bin/

# Kotlin-specific
.kotlin/

# IDE and Editor files
.idea/
*.iml

# Application config
app/src/main/resources/application.properties

# Logs and temp files
*.log
*.tmp
